.page_container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.middle_container {
	width: 100%;
	font-family: "Lato", sans-serif;
	height: 612px;
	padding: 1.111em 3em;
}

.footer_container {
	width: 100%;
	height: 750px;
	border: 5px solid chartreuse;
}

.welcome_block {
	margin: 0em auto 1.5em;
	text-align: center;
	position: relative;
}

.welcome {
	font-size: 1.474em;
	font-weight: 400;
	color: #3f3f3f;
	margin: 0.67em 0;
	display: block;
}

.create_login {
	margin-bottom: 0;
	font-size: 0.99em;
	line-height: 24px;
	color: #6d696e;
}

.form_container {
	height: 460px;
	text-align: center;
}

.form_block {
	margin-top: 1em;
	display: inline-block;
	float: none;
	width: 66.66667%;
	margin: 0 0%;
	position: relative;
	height: 447px;
}

.form {
	margin: 0;
	border: 1px solid #ede8e8;
	border-radius: 5px;
	padding: 3em 2em;
	background: #f8fafb;
	height: 445px;
}

.email {
	width: 100%;
	display: block;
	padding: 0 0.5em;
	height: 3.4em;
	outline: 0;
	border: 1px solid #ede8e8;
	color: #3a3a3a;
	position: relative;
	background: #fff;
	font-weight: 400;
	margin-bottom: 2em;
	word-spacing: 2px;
	letter-spacing: 1px;
}

.email::placeholder {
	color: #9c9c9c;
}

.password {
	width: 100%;
	display: block;
	padding: 0 0.5em;
	height: 3.4em;
	outline: 0;
	border: 1px solid #ede8e8;
	color: #3a3a3a;
	position: relative;
	background: #fff;
	font-weight: 400;
	margin-bottom: 2em;
	letter-spacing: 1px;
}

.password::placeholder {
	color: #9c9c9c;
}

.submit_button {
	background-color: #61e064;
	color: #fff;
	width: 100%;
	height: 3.4em;
	position: relative;
	box-shadow: none;
	border: 0;
	font-weight: 400;
	margin-bottom: 2em;
	font-size: 1em;
	letter-spacing: 2px;
}

.first_time_message {
	margin-bottom: 1.2em;
	color: #6d696e;
	letter-spacing: 0.5px;
}

.create {
	color: #28acd8;
	text-decoration: none;
	letter-spacing: 0.5px;
}

.create:hover {
	text-decoration: underline;
}

.or {
	color: #6d696e;
	margin-top: 0.7em;
	font-size: 0.85em;
	margin-bottom: 0.7em;
	letter-spacing: 0.5px;
}

.demo {
	color: #28acd8;
	text-decoration: none;
	letter-spacing: 0.5px;
}

.demo:hover {
	text-decoration: underline;
}
