.topbar {
	width: 100%;
	background-color: #e66760;
	height: 80px;
	/* display: grid;
	justify-content: space-between; */
	display: flex;
	position: relative;
}

/* .topbar_container {
	width: 1200px;
	height: 100%;
	margin: auto;
} */

.left_container {
	text-align: left;
}

.logo {
	background-image: url("../../../../assets/images/forme-logo-white.png");
	width: 130px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 170px;
	/* width: 100%; */
	margin: 0px 0px 15px 20px;
	position: relative;
	bottom: 24px;
}

.right_container {
	/* text-align: right; */
	/* top: 200px; */
	/* position: relative;
	right: 0; */
	list-style: none;
	margin-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	right: 20px;
	display: inline-block;
}

.options_list {
	padding-top: 5px;
	font-weight: 700;
	display: inline-block;
	margin: 18px 20px 15px 10px;
}

.options_link {
	margin: 0 auto;
	color: #ffda68;
	font-weight: 600;
	text-decoration: none;
	line-height: 33px;
	font-size: 17px;
	background-color: transparent;
	border: none;
	letter-spacing: 1px;
	cursor: pointer;
}
