.header_wrapper {
	background-color: #e66760;
	width: 100%;
	height: 80px;
	position: relative;
	padding: 0 1.6em;
	line-height: 80px;
}

.logo {
	font-family: "Acme", sans-serif;
	color: #fff;
	font-size: 40px;
}
