.engine_container {
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
}

.settings_panel {
	height: calc(100% - 80px);
	width: 370px;
	border-right: 1px solid rgb(164, 202, 239);
	background-color: rgb(235, 244, 251);
}

.form_preview {
	height: 100%;
	width: 630px;
}

.tabs {
	background-color: #cfe7ff;
	display: flex;
	list-style: none;
	text-align: left;
	justify-content: space-around;
	align-items: center;
}

.field_settings {
	color: #666666;
	font-size: 12px;
	margin: 4px 0px 0px;
	padding: 4px 6px 4px 25px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	/* align-items: center; */
	cursor: pointer;
	position: relative;
}

.field_settings:hover {
	color: black;
}

.field_settings:hover > .caret {
	color: rgb(103, 175, 26);
}

.caret {
	margin-right: 9px;
	font-size: 16px;
	max-width: 6px;
	overflow: visible;
	position: relative;
	bottom: 2px;
}

.form_preview {
	padding: 35px;
	font-family: Arial, Helvetica, sans-serif;
}

.form_preview_title {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 15px;
}

.actual_title {
	font-size: 21px;
	letter-spacing: 1px;
}

.form_description {
	font-size: 12px;
	letter-spacing: 0.75px;
	color: #555555;
	margin-top: 5px;
}

.add_field_tab {
	padding: 15px;
}

.field_settings_tab {
	padding: 15px;
}

.form_settings_tab {
	padding: 15px;
}

.form_settings_label {
	color: #333;
	font-size: 13px;
	letter-spacing: 0.5px;
	text-align: left;
	font-weight: bold;
	padding: 0 0 3px 0;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 4px;
	display: inline-block;
}

.input_boxes {
	border-radius: 5px;
	border: 1px solid #a1a1a1;
	padding: 3px;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.form_title_container {
	position: relative;
	width: 100%;
}

.form_settings_title {
	width: 100%;
}

.form_settings_description {
	width: 100%;
	height: 60px;
	resize: none;
}

.dropdown_boxes {
	border-radius: 5px;
	border: 1px solid #a1a1a1;
	padding: 3px;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
