
.form-manager-container {
    margin: auto;
}

.form-manager-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 96px;
    padding: 0px 0 0 32px;
}

h1#form-manager-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 20.1px 0;
    font-weight: 100;
}

.forms-area {
    background-color: #f6f7fb;
    padding-bottom: 64px;
    border-top: 1px solid #E6E9EE;
}

/*
.form-manager-actions {
    /* margin: 0px -12px;
}
*/

tr.form-table-rows {
    display: flex;
    background-color: white;
    border: solid 1px rgba(128, 128, 128, .8);
    width: 702px;
    height: 92px;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-left: 80px;
}

td.form-actions {
    display: flex;
    /* align-content: center; */
    justify-items: space-between;
    /* height: 20px; */
    /* margin: 0 50px; */
}

td.delete-buttons  {
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    margin-right: 50px;
    background-color: rgb(243, 83, 83);
    /* border-radius: 6% / 12%; */
    border-radius: 12%;
    /* padding: 10px 15px 25px; */
    /* padding: 10px; */
    /* border: none; */
    font-size: 12px;
    color: #fff;
    /* height: 38px;
    width: 33.25px; */
}

i.fa-trash:hover, i.fa-share-alt-square:hover, button.form-create-button:hover {
    cursor: pointer;
}


i.fa-trash {
    font-size: 21px;
    padding: 7px 7px 6px 7px;
}

i.fa-share-alt-square {
    font-size: 38px;
    /* padding: 10px 15px; */
    margin-right: 15px;
    color: #2685c6;

}

td.form-table-data {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

table {
    width: 702px;
}

/* td.form-table-data {
    background-color: white;
    border: solid 1px rgba(128, 128, 128, .3);
    size: 702px 92px;
} */

.form-table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-color: gray;
    display: flex;
    justify-content: center;
}

button.form-create-button {
    justify-content: center;
    background-color: #2685c6;
    font-weight: 500;
    color: #fff;
    padding: 0 20px;
    height: 30px;
    width: 120px;
    border: none;
    box-sizing: content-box;
    border-radius: 3% / 9%;
}

th.column-title-name {
    padding-left: 15px;
}

thead.table-head {
    background-color: #d0d2d3;
    display: flex;
    justify-self: left;
    margin-left: 80px;
    font-size: 16px;
    margin-bottom: -5px;
    margin-top: 15px;
    height: 25px;
    align-content: center;
    padding-top: 3px;
}
